.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background: linear-gradient(to right,rgb(2, 146, 151), rgb(121, 2, 136), rgb(2, 146, 151));
  color: #ffffff;   
  font-size: 15px;
  padding: 0 20px;
  text-align: center;
  border-top: 1px solid #444;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  letter-spacing: 0.5px; 
}

@media (max-width: 900px) {
.footer{
     font-size: 12px;
}
}

@media (max-width:480px){
    .footer{
        font-size: 10px;
        padding:0px 10px
    }
}
